<% if @users %>
  <div id="users">
    <%
    count = 1
    @users.each do |user|
      if user.email.match("hurwichmail") == nil and
         user.email.match("jhurwich") == nil %>
    
        <div class="user-row"><%= (count).to_s + ": " + user.email + "  (" + user.created_at.strftime('%m/%d/%y %H:%M') + ")" %></div>

      <% count = count + 1
      end
    end %>
  </div>
<% else %>
  <% form_for :login, :url => { :action => 'users' }  do |form| %>
    <%= form.text_field :password, :size => 40 %>
  <% end %>
<% end %>
